/*
HINT
For CSS stuff, make good use of the Chrome Developer Tools:
-- on the demo page, open up the inspector and poke around.
-- on your own page, use dev tools to add and modify styles directly in the browser.
*/



#big-header {
	background: gray;
	color: white;
	text-align: center;
}

#section-browse {
	background: #eee;
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
}

body {
	color: grey;
}

.item-watchlist {
	display: inline-block;
	margin: 10px 10px 0px 0px;
	padding: 60px;
	background: orange;
	color: white;
}

section header {
	margin-bottom: 40px;
}

section, #big-header {
	padding: 20px;
}

ul {
	padding-left: 0px;
}

button, input[type="submit"] {
	border-width: 0px;
	padding: 10px;
	background: orange;
	border-width: 0px;
	color: white;
}

button:disabled {
	opacity: 0.5;
}
