

.jumbotron {
	text-align: center;
	margin-bottom: 1%
}

#section-watchlist li {
	width: 160px;
	margin: 0% 4% 4% 0%;
	padding: 0;
}

.btn-danger {
	width: 100%;
	margin-top: 10px;
}

#section-watchlist {
	text-align: center;
}

.main-content {
	color: gray;
}

#section-browse {
	background: black;
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}
